.footer {
  //temp
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  @include flex(center, flex-start, row);
  background-color: $write;
  padding: 50px;
  @include screenXs {
    padding: 20px 10px;
  };

  &-logo {
    flex: 1;
    @include screenXs {
      margin-bottom: 20px;
    };

    &-item {
      width: 300px;
    }
  }

  &-list {
    &-mentions,
    &-social {
      @include flex(flex-end, center, row);
      margin-bottom: 0;
      list-style: none;
      color: $gold;
    }

    &-social {
      font-size: 25px;
      list-style: none;

      &-item {
        margin-left: 10px;

        &-link {
          text-decoration: none;
          color: $gold;

          &:hover {
            color: inherit;
          }

          &-icon {
            @include screenXs {
              font-size: 50px;
            };
          }
        }
      }
    }

    &-mentions {
      &-item {
        margin-left: 3px;

        &-link {
          padding-bottom: 2px;
          text-decoration: none;
          font-size: 10px;
          color: $gold;
          border-bottom: 1px solid transparent;
          @include screenXs {
            font-size: 16px;
          };

          &:hover {
            color: inherit;
            border-bottom: 1px solid $gold;
          }
        }
      }
    }
  }
  @include screenMd {
    display: block;
  }
}
