a:hover {
  color: inherit;
}

#root {
  min-height: 100vh;
}

.example-enter {
  opacity: 0.01;
  transform: translateX(-50px);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s $transition, transform 0.2s $transition;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  height: 0;
  transition: 300ms ease-in all;
}

.divider {
  width: 100px;
  margin: 20px auto;
}

.btn-container {
  margin-top: 20px;
}

.btn-red {
  position: relative;
  z-index: 2;
  height: 40px;
  color: $white;
  background-color: $red;
  border-radius: 0;
  border: 0;
  font-weight: 300;
  font-family: $primary-font;
  font-size: 15px;
  text-transform: inherit;
  transition: all 0.6s ease;
  overflow: hidden;
  @include material-shadow(box, 2);
  @include reset($white, inherit, $gold);

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: calc(-100% - 1px);
    width: 100%;
    height: 100%;
    background: $gold;
    border-color: $red;
    transition: all 0.6s $transition;
    color: $gold;
    @include material-shadow(box, 1);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(-300% - 1px);
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: $gold;
    transition: all 0.6s $transition;
    color: $gold;
  }

  &:hover {
    &::before {
      left: 0;
    }

    &::after {
      left: 0;
    }
  }
}

.btn-gold {
  position: relative;
  z-index: 2;
  height: 40px;
  color: $gold;
  background-color: transparent;
  border: 2px solid $gold;
  border-radius: 0;
  font-family: $primary-font;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 15px;
  text-transform: inherit;
  transition: all 0.6s ease;
  overflow: hidden;
  @include reset($white, inherit, $gold);

  &:focus {
    color: inherit;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: calc(-100% - 1px);
    width: 100%;
    height: 100%;
    background: $grey;
    transition: all 0.6s $transition;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(-300% - 1px);
    width: 100%;
    height: 100%;
    background: $gold;
    transition: all 0.6s $transition;
  }

  &:active {
    color: inherit;
  }

  &:hover {
    &::before {
      left: 0;
    }

    &::after {
      left: 0;
    }
  }
}

.btn-link {
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}
/* material input */
.material-field {
  position: relative !important;
  height: 72px !important;
  padding: 16px 0 8px !important;
  display: inline-block;
  width: 100%;

  &__label {
    position: relative !important;
    margin: 0 !important;
    display: block !important;
    color: $dark-grey !important;
    line-height: 16px !important;
    font-size: 16px !important;
    font-family: $primary-font;
    font-weight: 400 !important;
    transform: translateY(24px) !important;
    transition: transform 0.3s, color 0.3s !important;
    transform-origin: 0 50% !important;
  }

  &__checkbox {
    background-color: $red;
    margin-right: 3%;
  }

  &__input {
    position: relative !important;
    display: block !important;
    width: 100% !important;
    height: 32px !important;
    padding: 8px 0 !important;
    line-height: 16px !important;
    font-family: $primary-font !important;
    font-size: 16px !important;
    background: transparent !important;
    border: none !important;
    -webkit-apperance: none !important;
    outline: none !important;
  }

  &::after,
  &::before {
    content: '' !important;
    height: 1px !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 20px !important;
    left: 0 !important;
    background-color: $dark-grey !important;
  }

  &::after {
    background-color: $gold !important;
    transform: scaleX(0);
    transition: transform 0.3s $transition;
  }
}

.has-label .material-field__label {
  transform: translateY(0) scale(0.75) !important;
}

.is-focused .material-field__label {
  color: $gold !important;
}

.is-invalid .material-field__label {
  color: $red !important;
}

.material-field.is-focused {
  &::after {
    transform: scaleX(1);
  }
}

.material-field.is-focused.is-invalid {
  &::after {
    transform: scaleX(1);
    background-color: $red !important;
  }
}
/* Tab navigation */
.tabs-container {
  padding-top: 100px;
}

.select-tab,
.select-tab-2 {
  text-decoration: none;
  color: $write;
  border-bottom: 5px solid transparent;
  transition: all 0.3s $transition;
  cursor: pointer;

  &--current {
    color: $write !important;
    border-color: $gold;
  }

  &:hover {
    border-bottom: 5px solid $gold;
  }
}

.select-tab-2.disbled,
.select-tab.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.tab,
.tab-2 {
  display: none;

  &--current {
    display: inherit;
  }
}

.selected {
  margin-top: 20px;
  padding: 20px;
  @include material-shadow(box, 2);

  &__title {
    font-size: 24px;
    font-family: $primary-font;
    font-weight: 500;
  }
}
/* payement selection */
.payment {
  &__select {
    @include flex(center, flex-start, row);
    height: auto;
    @include material-shadow(box, 2);
  }

  &__type {
    flex: 1;
    height: 150px;
    padding: 40px 0 0;
    text-align: center;

    &-title {
      font-family: $primary-font;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 60px;
  }

  &__solde {
    font-family: $primary-font;
  }

  &__add-card {
    flex: 1;
    width: 100%;
  }
}
/* Card */
.cards-container {
  @include flex(center, center, row);
  @include screenMd {
     @include flex(center, center, column);
  };
}

.cards-list {
  flex: 1;
}

.card {
  @include flex(null, null, column);
  margin: 0 auto;
  max-width: 380px;
  height: 240px;
  padding: 20px;
  border-radius: 5px;
  @include material-shadow(box, 2);
  transition: all 0.3s $transition;
  @include screenSm {
    max-width: 320px;
    height: 170px;
  };

  &__top {
    @include flex(center, center, row);
    align-self: stretch;
  }

  &__type {
    height: 25px;
  }

  &__cvc {
    flex: 1;
  }

  &__middle {
    @include flex;
    flex: 1;
  }

  &__code {
    flex: 1;
    margin: 0;
    color: $white;
    text-align: center;
    font-family: $primary-font;
    font-size: 26px;
    letter-spacing: 2.5px;
    @include screenSm {
      font-size: 22px;
      letter-spacing: 4px;
    };
  }

  &__bottom {
    @include flex;
    align-self: stretch;
  }

  &__owner {
    flex: 1;
  }

  &__label-cvc,
  &__label-date,
  &__label-name {
    margin: 0;
    color: $white;
    font-size: 16px;
    font-family: $primary-font;
    @include screenSm {
      font-size: 14px;
    };
  }

  &__date,
  &__name,
  &__secret-code {
    margin: 0;
    color: $white;
    font-size: 22px;
    font-family: $primary-font;
    @include screenSm {
      font-size: 18px;
    };
  }
}
/* Credit cards */
.visa-card {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.master-card {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
/* cart panel */
.dont-scroll {
  overflow-y: hidden;
}

.panel-shadow {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: rgba($black, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s $transition;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}

.search-panel {
  padding: 10px;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 1200;
  width: 100vw;
  height: 100px;
  @include flex;
  background: $white;
  transition: top 0.3s $transition;
  box-sizing: border-box;
  @include screenSm {
    top: -200px;
    flex-direction: column;
    height: 200px;
    padding: 0 10px 10px;
  };

  &--open {
    top: 0;
  }

  &__input {
    min-width: 300px;
    width: 100%;
    margin: 0 20px 0 0;
    border-color: $black;
    @include screenSm {
      width: 100%;
      margin-right: 0;
    };
  }

  &__submit {
    margin: 0 !important;
  }
}

.cart-panel {
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  @include flex(flex-start, center, column);
  width: 500px;
  height: 100%;
  position: fixed;
  transform: translateX(500px);
  padding: 40px 0;
  background: $white;
  @include material-shadow(box, 2);
  box-sizing: border-box;
  transition: transform 0.3s ease;
  overflow-y: auto;
  @include screenSm {
    width: 320px;
  };

  &--js-open {
    transform: translateX(0);
  }

  &__close {
    width: 25px;
    cursor: pointer;
    outline: none;
  }

  &__title {
    padding: 30px 0 0;
    text-transform: uppercase;
    font-size: 24px;
    font-family: $primary-font;
    font-weight: bold;
  }

  &__number-item {
    color: $dark-grey;
  }

  &__list {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &__category {
    padding-bottom: 20px;
    color: $divider;
    font-family: $primary-font;
    font-style: italic;

    &-name {
      margin: 0;
    }
  }

  &__submit {
    text-align: center;
  }

  &__product {
    @include flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 20px;
    @include material-shadow(box, 1);
    overflow: hidden;
    transition: all 0.3s $transition;

    &:hover {
      @include material-shadow(box, 2);

      .cart-panel__formules {
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
        opacity: 1;
      }

      .formula-product {
        visibility: hidden;
        opacity: 0;
      }
    }

    &-infos {
      position: relative;
      @include flex(flex-start, center, row);
      flex-wrap: wrap;
      flex: 1;
      align-self: stretch;
      @include screenSm {
        flex-direction: column;
      };
    }

    &-image {
      height: 100px;

      &-container {
        width: 100px;
        height: 100px;
        overflow: hidden;
      }
    }

    &-text {
      padding: 0 0 0 20px;
      font-family: $primary-font;
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease;
    }

    &-title,
    &-type {
      margin: 0;
    }

    &-type {
      color: $write;
      font-style: italic;
      @include screenSm {
        font-size: 14px;
      };
    }

    &-title {
      font-size: 22px;
      color: $gold;
      font-weight: 500;
      letter-spacing: 2px;
      @include screenSm {
        font-size: 18px;
      };
    }
  }

  &__left {
    @include flex(flet-start, center, row);
    flex-wrap: wrap;
    flex: 1;
  }

  &__quantity {
    position: relative;
    @include flex(center, center, column);
    flex: 0.5;
    @include screenSm {
      flex: 0.3;
    };

    &-input {
      width: 45px;
      height: 35px !important;
      display: block;
      margin: 0;
      padding: 0 !important;
      line-height: 1.65;
      text-align: center;
      border: 1px solid $divider !important;
      border-radius: 0 !important;
      box-sizing: content-box !important;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-nav {
      position: relative;
      height: 45px;
    }

    &-button {
      position: relative;
      width: 47px;
      border-radius: 0;
      padding: 0;
      margin: 0;
      height: 50%;
      text-align: center;
      font-size: 13px;
      border-left: 1px solid $divider;
      border-right: 1px solid $divider;
      cursor: pointer;
      line-height: 1.7;
      -webkit-user-select: none;
      user-select: none;
      transition: all 0.3s $transition;

      &:hover {
        background: $gold;
      }
    }

    &-up {
      border-top: 1px solid $divider;
    }

    &-down {
      border-bottom: 1px solid $divider;
    }
  }

  &__price {
    flex: 0.5;
    margin: 0;
    font-family: $primary-font;
  }

  &__delete {
    @include flex;
    align-self: stretch;
    width: 35px;
    background: $red;
    cursor: pointer;

    &-icon {
      height: 20px;
    }
    @include screenSm {
      flex-basis: 100%;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    };
  }

  &__formules {
    position: absolute;
    top: 80%;
    transform: translateY(-80%);
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    &-content {
      margin: 0;
      color: $dark-grey;
      font-family: $primary-font;
      font-size: 12px;
    }
  }

  &__promo {
    @include flex(flex-start, center, row);
    width: 100%;
  }

  &__input {
    flex: 0.8;
  }

  &__apply {
    flex: 0.2;
  }
}
/* icon */
@font-face {
  font-family: "untitled-font-1";
  src: url("../../assets/images/icons/untitled-font-1.eot");
  src: url("../../assets/images/icons/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("../../assets/images/icons/untitled-font-1.woff") format("woff"), url("../../assets/images/icons/untitled-font-1.ttf") format("truetype"), url("../../assets/images/icons/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before,
[class^="icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest-square:before {
  content: "\62";
}

.icon-facebook-square:before {
  content: "\63";
}

.icon-twitter-square:before {
  content: "\64";
}

.icon-instagrem:before {
  content: "\61";
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: $gold;
  background: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.cookie {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background-color: $gold;
  @include material-shadow(box, 2);

  &-content {
    text-align: center;
    padding: 5px;
    margin: 0;
  }

  &-infos,
  &-valider {
    border: 0;
    margin: 0;
  }
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.cancel-btn-gold {
  background: url('../../assets/images/icons/cancel.svg') center center no-repeat;
  border: 0;
  float: right;
  margin: 3% 3% 0 0;
  @include screenSm {
    left: 50%;
    top: 5%;
    position: absolute;
    transform: translateX(-50%);
    background-size: 50%;
  }
}

.notification {
  @include material-shadow(box, 4);
}

.btn {
  &__delete {
    color: $white;
    background: $red;
    border: none;
  }
}
