/* taille device */
$screenHd: 1200px;
$screenDefault: 1000px;
$screenMd: 768px;
$screenSm: 550px;
$screenXs: 400px;
/* colors */
$black: #000000;
$write: #212121;
$white: #FFFFFF;
$grey: #EEEEEE;
$gold: #ECD785;
/* fonts */
$primary-font: 'Roboto', sans-serif;
$accent-font: 'Parisienne', cursive;
/* transition */
$transition:cubic-bezier(1,0,.33,.72)
