/* taille device */
$screenHd: 1200px;
$screenDefault: 1024px;
$screenMd: 768px;
$screenSm: 550px;
$screenXs: 400px;
/* colors */
$black: #000000;
$write: #212121;
$white: #FFFFFF;
$grey: #EEEEEE;
$dark-grey: #757575;
$gold: #ECD785;
$red: #ef5350;
$green: #4CAF50;
$divider: #BDBDBD;
/* fonts */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$accent-font: 'Parisienne', cursive;
/* transition */
$transition:cubic-bezier(.8,0,.4,1)
