<!--account.html-->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Add a product</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" novalidate ng-submit="vm.productForm()" name="addProductForm" enctype="multipart/form-data">
      <fieldset>
        <div class="alert alert-success" ng-if="vm.reqStatus">
          <strong>Success!</strong> {{vm.reqStatus}} !
        </div>
        <div class="form-group">
          <label for="inputImage" class="col-lg-3 control-label">Image</label>
          <div class="col-lg-9">
            <input type="file"
            class="form-control"
            id="inputImage"
            fileread="vm.file"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputTitle" class="col-lg-3 control-label">Titre</label>
          <div class="col-lg-9">
            <input type="text"
            class="form-control"
            id="inputTitle"
            ng-model="vm.title"
            required
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescription" class="col-lg-3 control-label">Description</label>
          <div class="col-lg-9">
            <input type="text"
            class="form-control"
            id="inputDescription"
            ng-model="vm.description"
            required
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputPreparation" class="col-lg-3 control-label">Preparation</label>
          <div class="col-lg-9">
            <input type="text"
            class="form-control"
            id="inputPreparation"
            ng-model="vm.preparation"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputAllergics" class="col-lg-3 control-label">Allergics</label>
          <div class="col-lg-9">
            <input type="text"
            class="form-control"
            id="inputAllergics"
            ng-model="vm.allergics"
            placeholder="item1, item2, item3"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputPrice" class="col-lg-3 control-label">Prix</label>
          <div class="col-lg-9">
            <input type="number"
            min="0"
            class="form-control"
            id="inputPrice"
            ng-model="vm.price"
            required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputTag" class="col-lg-3 control-label">Tag</label>
          <div class="col-lg-9">
            <select
            class="form-control"
            multiple='true'
            ng-model='vm.tag'
            ng-options='tag.name for tag in vm.tags'
            id="inputTag">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputType" class="col-lg-3 control-label">Type</label>
          <div class="col-lg-9">
            <select
            class="form-control"
            multiple='true'
            id="inputType"
            ng-model='vm.type'
            required>
              <option value="entree">Entrée</option>
              <option value="plat">Plat</option>
              <option value="dessert">Dessert</option>
            </select>
          </div>
        </div>
      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <input class="btn btn-primary" type="submit" ng-disabled="addProductForm.$invalid" value="Ajouter un produit">
        </div>
      </div>
    </fieldset>
  </form>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>All products</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger col-md-offset-3 col-md-6" ng-if="!vm.products.length">
      <strong>No products</strong> !
    </div>
    <div class="media" ng-repeat="product in vm.products">
      <div class="media-left">
      <img ng-src="{{product.file}}" alt="..." style="width:300px;height:auto;">
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          {{product.title}} -- {{product.price}}€
          <button style='float:right' class="btn btn-danger" ng-click="vm.removeProduct(product, $index)">X</button>
        </h4>
        <p>
          Preparation : {{product.preparation}}
        </p>
        <p>
          Description : {{product.description}}
        </p>
        <ul>
          <li style="list-style-type:none;">
            <strong>Allergics</strong>
          </li>
          <li ng-repeat="allergic in product.allergics">{{allergic}}</li>
        </ul>
        <ul ng-if="product.tag">
          <li ng-repeat="tag in product.tag">{{tag.name}}</li>
        </ul>
        <ul>
          <li ng-repeat="type in product.type">{{type}}</li>
        </ul>
        <input-stars max="5" ng-model="YourCtrl.property"></input-stars>
      </div>
    </div>
  </div>
</div>
<!--/account.html-->
