{
  "extends": "airbnb",
  "rules": {
    "consistent-return": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "react/jsx-filename-extension": "off",
    "no-console": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "warn"
  },
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true,
    "FileReader": true,
    "navigator": true
  }
}
