# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
/coverage

# production
src/components/*/*.css
build/

# misc
.DS_Store
csv/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
bower_components/
public/uploads/*
public/pdf/*
