.compteInfo {
  position:relative;
  z-index: 200;
  margin-bottom: 200px;
  background: $white;

  &-form{
    margin-bottom: 100px;
  }
  &-maps{
    float: right;
    @include material-shadow(box, 2);
    width: 55%;
    height: 350px ;
    @include screenSm{
      width: 100%;
    }
  }
  &-maps > div{
    min-height: 350px !important;
  }
  &-submit{
    top:10px;
    @include screenSm{
      left: 20%;
      top: 30px;
    }
  }
  &-btnSuppr{
    margin-top: 20px;
    @include screenSm{
      left: 20%;
    }
  }
  &-submenu {
    @include flex(null, null, row);
    text-align: center;
    background-color: $white;
    @include material-shadow(box, 2);
    margin-bottom: 50px;
    white-space: nowrap;
    overflow-x: auto;
    &-item {
      flex: 1;
      padding: 10px;
      font-size: 18px;
      color: $divider;
      text-decoration: none;
    }
  }

  &-bloc {
    margin: 20px;
    padding: 20px;
    padding-bottom: 30px;
    display: block;
  }

  &-iframe {
    @include material-shadow(box, 2);
  }

  &-field {
    width: 18% !important;
    margin-left: 1%;
    @include screenSm{
      width: 100% !important;
    }
  }
  &-rowForm {
    margin-bottom: 50px;
  }

  &__adressForm {
    @include flex(flex-start, center, row);
    flex-wrap: wrap;

    &-field {
      flex-basis: 18%;
      margin-left: 1%;
    }
  }
}

.active {
  border-bottom: 5px solid $gold;
  color: $black;
}
#livraison{
  width: 100%;
  border:0px;
}
.fullInput{
  width: 37% !important;
  @include screenSm{
    width: 100% !important;
  }
}
