.formules {
  position:relative;
  z-index: 10;
  margin-bottom:200px;
  padding-bottom: 50px;
  background:$white;

  &__row {
    padding-top:25px;
  }

  &__column {
    width:50%;
    @include screenMd {
      width:100%;
    };
  }

  &__container {
    @include flex(center, flex-start, column);
    width:90%;
    min-height: 400px;
    margin:0 auto;
    padding:10px;
    @include material-shadow(box, 2);
    transition: all 0.3s $transition;

    &:hover {
      @include material-shadow(box, 4);
    }
  }

  &__content {
    @include flex;
    align-self: stretch;
  }

  &__choise {
    @include flex(center, center, column);
    flex: 1;
    align-self: stretch;
  }

  &__input {
    align-self: stretch;
  }

  &__label {
    @include flex;
    font-family:  $primary-font;
  }

  &__icone {
    width: 25px;
    margin-right: 5px;
  }

  &__selected {
    flex: 1;
    text-align: right;
  }

  &__title {
    flex:1;
    font-family: $primary-font;
    font-size: 26px;
    font-weight: bold;
  }

  &__price {
    color: $gold;
    font-family: $primary-font;
    font-size: 22px;
  }

  &__select {
    position:relative;
    z-index: 10;
    width:100%;
    height:0px;
    margin-bottom:40px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid $dark-grey !important;
    transition: height 0.3s $transition;

    &.current {
      height:300px;
      overflow: auto;
    }
  }

  &__item {
    @include flex(flex-start, center, row);
    margin:0 10px 5px;
    border-radius: 3px;
    overflow: hidden;
    @include material-shadow(box, 1);
    transition: all 0.3s $transition;
    cursor: pointer;

    &:hover {
      @include material-shadow(box, 3);
    }

    &-infos {
      flex: 1;
      align-self: stretch;
      padding: 10px;
    }

    &-title {
      flex: 1;
      margin:0;
      font-family: $primary-font;
      font-weight: 500;
      font-size: 20px;
    }

    &-desc {
      flex-basis: 100%;
      margin: 0;
      align-self: flex-start;
      font-family: $primary-font;
      font-size: 16px;
    }

    &-allergenes {
      margin: 0;
    }

    &-container {
      width: 100px;
      height: 100px;
      overflow: hidden;
    }

    &-image {
      height: 100px;
    }
  }

  &__submit {
    margin-top: 20px;
  }
}
