.admin {
  &__formule {
    height: auto;
    padding: 10px;
    @include material-shadow(box, 1);

    &-column {
      flex-basis: calc(100% / 3);
      align-self: stretch;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      @include screenMd {
        flex-basis: 100%;
      };
    }

    &-header {
      @include flex;
      margin-bottom: 20px;
    }

    &-title {
      width: 100%;
      flex: 1;
      margin: 0;
      font-family: $primary-font;
      font-size: 20px;
      font-weight: bold;
    }

    &-price {
      width: 100%;
      text-align: right;
      font-family: $primary-font;
    }

    &-type {
      margin: 0;
      font-family: $primary-font;
    }
  }

  &__add-formules {
    margin-top: 20px;
  }
}
