.admin {
  &__livraison {
    @include flex;
    height: 50px;
    @include material-shadow(box, 1);

    &-column {
      flex-basis: 50%;
      align-self: stretch;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      @include screenDefault {
        flex-basis: 100%;
      };
    }

    &-gmap {
      width: 100%;
      display: inline-block;
    }
  }

  &__add-tag {
    margin-top: 20px;
  }
}
