.admin {
  &__product {
    @include flex;
    height: 100px;
    @include material-shadow(box, 1);

    &-column {
      flex-basis: 50%;
      align-self: stretch;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      @include screenDefault {
        flex-basis: 100%;
      };
    }

    &-image {
      height: 100%;

      &-container {
        width: 100px;
        height: 100%;
        overflow: hidden;
        @include screenSm {
          display: none;
        };
      }
    }

    &-content {
      @include flex(flex-start, center, row);
      flex: 1;
      height: 100%;
      padding: 10px 0 10px 10px;
    }

    &-title {
      flex: 1;
      margin-bottom: 0;
      margin-right: 15px;
      font-size: 24px;
      font-family: $primary-font;
      font-weight: bold;
    }

    &-price {
      flex: 1;
      margin-bottom: 0;
      font-size: 22px;
      font-family: $primary-font;
    }

    &-desc {
      font-size: 16px;
      font-family: $secondary-font;
    }

    &-delete {
      margin: 0;
    }
  }

  &__add-product {
    margin-top: 50px;
  }
}
