<div class="row">
  <div map-lazy-load='{{vm.googleMapUrl}}'
       class="col-md-6">
    <ng-map
      on-click="vm.placeMarker()"
      default-style="false"
      class="myMap"
      center="current-location"
      geo-fallback-center="49.8741275, 2.5389784"
      zoom="8"
      >
      <marker ng-repeat="pin in vm.markers"
        id='{{pin._id}}'
        position="{{pin.geolocation}}"
        on-click="map.showInfoWindow(pin._id)"
        ></marker>

        <info-window id="{{info._id}}" ng-repeat="info in vm.markers">
          <div>
            {{info.description}}
          </div>
        </info-window>
    </ng-map>
    <p style="margin-top: 15px; font-weight: 300; font-size: 1.2em" ng-if="vm.address">Vous avez cliqué au {{vm.address}}</p>
  </div>
  <div class="col-md-6">
    <h3>Nouveau point de livraison</h3>
    <hr>
    <form class="form-horizontal" novalidate ng-submit="vm.addPlace()" name="createPlaceForm">
      <div class="alert alert-success" ng-if="vm.success">
        <strong>Success!</strong> {{vm.success}} !
      </div>
      <div class="alert alert-danger" ng-if="vm.error">
        <strong>Error!</strong> {{vm.error}} !
      </div>
        <fieldset>
            <div class="form-group">
                <label for="inputName" class="col-lg-3 control-label">Nom de l'entreprise</label>
                <div class="col-lg-9">
                    <input type="text"
                           class="form-control"
                           id="inputName"
                           ng-model="vm.name"
                           required placeholder="Nom">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLat" class="col-lg-3 control-label">Latitude</label>
                <div class="col-lg-9">
                    <input type="text"
                           class="form-control"
                           id="inputLat"
                           ng-model="vm.geolocation.lat"
                           required placeholder="41.432432">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLng" class="col-lg-3 control-label">Longitude</label>
                <div class="col-lg-9">
                    <input type="text"
                           class="form-control"
                           id="inputLng"
                           ng-model="vm.geolocation.lng"
                           required placeholder="2.43892743">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-lg-3 control-label">Description</label>
                <div class="col-lg-9">
                    <textarea class="form-control"
                           id="inputDescription"
                           ng-model="vm.description"
                           rows="5"
                           required placeholder="Little description about the place, not that long though ..">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <input class="btn btn-primary" type="submit" ng-disabled="createPlaceForm.$invalid" value="Create place">
                </div>
            </div>
        </fieldset>
    </form>

    <hr>

    <div class="clearfix" ng-repeat="marker in vm.markers" style="margin-bottom:15px;">
      <p>
        {{marker.name}}
        <button class="btn btn-danger" ng-click="vm.removeMarker(marker, $index);" style="float:right; margin-left:15px;">X</button>
      </p>
    </div>
  </div>
</div>
