.partTwo {
  position:relative;
  z-index: 200;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom:200px;
  background: $white;
  @include material-shadow(box, 2);

&__container {
  @include container(960px);

}

  &__title {
    padding-top: 20px;
    text-align: center;
    font-family: $primary-font;
    @include screenSm {
      font-size: 28px;
    };
  }

  &__select {
    @include flex(center, flex-start, row);
    height: auto;
    @include material-shadow(box, 2);
    @include screenSm {
      flex-direction: column;
    };
  }

  &__type {
    flex: 1;
    height: 150px;
    padding: 40px 0 0;
    text-align: center;
    @include screenSm {
      align-self: stretch;
      padding: 10px 0 0;
      height: auto;
    };

    &-title {
      font-family: $primary-font;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 60px;
  }

  &__solde {
    font-family: $primary-font;
  }

  &__selected {
    @include flex(center, flex-start, row);
    margin-top: 50px;
    @include material-shadow(box, 2);

    &__title {
      font-size: 24px;
      font-family: $primary-font;
      font-weight: 500;
    }
  }

  &__add-card,
  &__cards-list {
    flex: 1;
    width: 50%;
    padding: 30px;
  }
  /* add cart */
  &__expiry-cvv {
    @include flex;
  }
}
