<!--account.html-->
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Create new bundle!</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" novalidate ng-submit="vm.bundleForm()" name="addBundleForm">
      <fieldset>
        <div class="alert alert-success" ng-if="vm.reqStatus">
          <strong>Success!</strong> {{vm.reqStatus}} !
        </div>
        <div class="form-group">
          <label for="inputBundleName" class="col-lg-3 control-label">Nom du bundle</label>
          <div class="col-lg-9">
            <input type="text"
            class="form-control"
            id="inputBundleName"
            ng-model="vm.name"
            required
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputBundleDescription" class="col-lg-3 control-label">Description</label>
          <div class="col-lg-9">
            <input type="text"
            class="form-control"
            id="inputBundleDescription"
            ng-model="vm.description"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputEntree" class="col-lg-3 control-label">Entrée</label>
          <div class="col-lg-9">
            <select
            class="form-control"
            ng-model='vm.selectedEntree'
            ng-options='entree.name for entree in vm.entree'
            id="inputEntree">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPlat" class="col-lg-3 control-label">Plat</label>
          <div class="col-lg-9">
            <select
            class="form-control"
            ng-model='vm.selectedPlat'
            ng-options='plat.name for plat in vm.plat'
            id="inputPlat">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDessert" class="col-lg-3 control-label">Desserts</label>
          <div class="col-lg-9">
            <select
            class="form-control"
            ng-model='vm.selectedDessert'
            ng-options='dessert.name for dessert in vm.dessert'
            id="inputDessert">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPrice" class="col-lg-3 control-label">Prix</label>
          <div class="col-lg-9">
            <input type="number"
            class="form-control"
            id="inputPrice"
            ng-model="vm.price"
            min="0"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputReduction" class="col-lg-3 control-label">Reduction</label>
          <div class="col-lg-9">
            <input type="number"
            class="form-control"
            id="inputReduction"
            ng-model="vm.reduction"
            max="100"
            >
          </div>
        </div>
      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <input class="btn btn-primary" type="submit" ng-disabled="addBundleForm.$invalid" value="Ajouter un bundle">
        </div>
      </div>
    </fieldset>
  </form>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Mes bundles</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger col-md-offset-3 col-md-6" ng-hide="vm.bundles.length">
          <strong>😠 Pas de bundle!</strong>
        </div>
        <div class="alert alert-success  col-md-offset-3 col-md-6" ng-if="vm.reqStatus">
          <strong>{{vm.reqStatus}}</strong>!
        </div>
      </div>
    </div>
    <ul style='list-style-type:none; padding:0;'>
      <li ng-repeat="bundle in vm.bundles" style="position:relative;">
        <h2 style="margin-bottom:0;">{{bundle.name}} | {{bundle.price | currency}} 💸</h2>
        <p>{{bundle.description}}</p>
        <button class="btn btn-danger" ng-click="vm.removeBundle(bundle, $index);" style="position:absolute; top:7px; right:0;">X</button>
      </li>
    </ul>
  </div>
</div>
<!--/account.html-->
