<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5 style="color:#fff"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-xs-6">
								<button type="button" class="btn btn-primary btn-sm btn-block" ui-sref="app">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="item" ng-repeat="item in vm.items">
						<div class="row">
							<div class="col-xs-2" style="background: url({{item.file}}) no-repeat; background-size:cover; width:100px; height:70px; margin-left:15px;"></div>
							<div class="col-xs-4">
								<h4 class="product-name"><strong>{{item.title}} - x{{item.amount}}</strong></h4>
								<h4><small>{{item.description}}</small></h4>
							</div>
							<div class="col-xs-6">
								<div class="col-xs-6 text-right">
									<h6><strong>{{item.price}}€<span class="text-muted">x</span></strong></h6>
								</div>
								<div class="col-xs-4">
									<input type="number" min="0" class="form-control input-sm"
									ng-value="{{item.amount}}"
									ng-model='item.amount'
									ng-change='vm.updateTotal(item, item.amount)'
									ng-blur='vm.blurInput(item)' />
								</div>
								<div class="col-xs-2">
									<button type="button" class="btn btn-link btn-xs" ng-click="vm.removeFromCart(item, $index, item.amount)">
										<span class="glyphicon glyphicon-trash"> </span>
									</button>
								</div>
							</div>
						</div>
						<hr ng-if="!$last">
					</div>
					<div ng-if="!vm.items.length">
						<h2><span>Your cart is empty</span></h2>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>€{{vm.total}}</strong></h4>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-success btn-block">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>