.livraison {
  @include container(1200px);
  @include flex;
  padding: 50px 0;
  @include screenMd {
    flex-direction: column;
    margin: 0;
    padding-top: 60px;
  }

  &-container {
    @include flex(center, center, column);
    flex: 1;
    padding: 20px;
    text-align: center;
    @include screenMd {
      &:last-child {
        display: none;
      }
    }
  }

  &-title {
    margin: 0;
    font-family: $accent-font;
  }

  &-content {
    font-family: $secondary-font;
  }

  &-images {
    height: 500px;
    @include material-shadow(box, 2);
    @include screenSm {
      height:300px;
    };
  }
}
