<div class="row">
  <h1><strong>CSV</strong></h1>
  <hr>
  <h3>Exportez vos données en CSV pour votre commande!</h3>
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" novalidate ng-submit="vm.getCSV()" name="getCSVForm">
      <fieldset>
        <div class="form-group">
          <label for="nom" class="col-lg-3 control-label">Date</label>
          <div class="col-lg-9">
            <input type="date"
            class="form-control"
            id="date"
            ng-model="vm.date"
            required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <input class="btn btn-primary" type="submit" ng-disabled="getCSVForm.$invalid" value="Get CSV for {{vm.date | date:'MM/dd/yyyy'}}">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
